<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/one.css')}}"> 
</head>
<body>
    <h1 id=co style="text-align: center;">welcome</h1>
    <button onclick="display()">click</button>
    <img  src="{{url_for('static',filename='images/mountain.jpg')}}"><br>



    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>